.top-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left-container h1 {
  padding-left: 10px;
  color: #a7b9d3;
  font-size: 150px;
}

.type-container {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 30px;
}

.type-container p{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 90px;
  border-radius: 5px;
  margin: 2px;
}

.right-container {
  padding-left: 200px;
}

.stat-page {
  padding-left: 200px;
}

.type-container .fire {
  background-color: #cc2f0a;
}

.type-container .normal {
  background-color: #bdbaaf;
}

.type-container .water {
  background-color: #3490ed;
}

.type-container .grass {
  background-color: #74bb40;
}

.type-container .electric {
  background-color: #fbb720;
}

.type-container .ice {
  background-color: #8fe4fb;
}

.type-container .fighting {
  background-color: #80351a;
}

.type-container .poison {
  background-color: #954595;
}

.type-container .ground {
  background-color: #d0b656;
}

.type-container .flying {
  background-color: #6a77dd;
}

.type-container .psychic {
  background-color: #f7407e;
}

.type-container .bug {
  background-color: #a2b01f;
}

.type-container .rock {
  background-color: #ae9549;
}

.type-container .ghost {
  background-color: #5d59ac;
}

.type-container .dark {
  background-color: #4d392e;
}

.type-container .dragon {
  background-color: #745edf;
}

.type-container .steel {
  background-color: #b6b4be;
}

.type-container .fairy {
  background-color: #f4abfc;
}

.chart {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 30px;
  margin-bottom: 10px;
}

.chart p {
    margin-right: 10px;
    margin-left: 10px;
    width: 100px; /* Adjust the width as needed */
}

.bar {
    height: 100%;
    background-color: blue;
    border-radius: 10px;
    animation: barAnimation 1s ease;
}

@keyframes barAnimation {
    0% {
        width: 0;
    }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
