.top-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}

.left-container {
  padding-left: 10px;
  padding-right: 150px;
}

.inner-container {
  margin-left: 50px;
}

.left-container h1 {
  top: 0;
  left: 0;
  color: #a7b9d3;
  font-size: 150px;
  margin: 0px;
}

.type-container {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 30px;
}

.type-container p{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 90px;
  border-radius: 5px;
  margin: 2px;
}

.right-container {
  padding-left: 150px;
  padding-right: 150px;
}

.stat-page {
  display: flex;
  align-items: center;
}

.right-container img {
  width: 15vw;
  max-width: 250px;
  min-width: 100px;
  height: auto;
  padding-top: 20px;
}

.type-container .fire {
  background-color: #cc2f0a;
}

.type-container .normal {
  background-color: #bdbaaf;
}

.type-container .water {
  background-color: #3490ed;
}

.type-container .grass {
  background-color: #74bb40;
}

.type-container .electric {
  background-color: #fbb720;
}

.type-container .ice {
  background-color: #8fe4fb;
}

.type-container .fighting {
  background-color: #80351a;
}

.type-container .poison {
  background-color: #954595;
}

.type-container .ground {
  background-color: #d0b656;
}

.type-container .flying {
  background-color: #6a77dd;
}

.type-container .psychic {
  background-color: #f7407e;
}

.type-container .bug {
  background-color: #a2b01f;
}

.type-container .rock {
  background-color: #ae9549;
}

.type-container .ghost {
  background-color: #5d59ac;
}

.type-container .dark {
  background-color: #4d392e;
}

.type-container .dragon {
  background-color: #745edf;
}

.type-container .steel {
  background-color: #b6b4be;
}

.type-container .fairy {
  background-color: #f4abfc;
}

.stat-page {
  display: flex;
  flex-direction: column;
}

.chart {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30px;
  margin-bottom: 10px;
}

.weight {
  font-size: 16px;
}

.stat-text {
  display: flex;
  left: 25%;
  padding-top: 10px;
}

.chart p {
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
}

.stat h3 {
  position: flex;
  align-items: center;
  justify-content: center;
}

.bar {
    height: 100%;
    background-color: blue;
    border-radius: 10px;
    animation: barAnimation 1.5s ease-in-out;
}

@keyframes barAnimation {
    0% {
        width: 0;
    }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .top-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
}